  stackup-bundler:
    container_name: stackup-bundler
    image: ghcr.io/planetarium/mothership-l2launcher-stackup-bundler:latest
    ports:
      - 4337:4337/tcp
    depends_on:
      op-geth:
        condition: service_healthy
    environment:
      ERC4337_BUNDLER_ETH_CLIENT_URL: http://op-geth:8545
      ERC4337_BUNDLER_SUPPORTED_ENTRY_POINTS: ${ERC4337_ENTRYPOINT:-0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789}
      ERC4337_BUNDLER_PRIVATE_KEY: ${ERC4337_BUNDLER_KEY}
