  blockscout:
    container_name: blockscout
    image: ${BLOCKSCOUT_IMAGE:-blockscout/blockscout}
    depends_on:
      - blockscout-postgres
      - blockscout-sig-provider
      - blockscout-smart-contract-verifier
      - blockscout-visualizer
      - op-geth
    volumes:
      - ./data/blockscout/logs/:/app/logs/
      - ./data/genesis/genesis.json:/genesis.json:ro
    ports:
      - 4000:4000
    environment:
      CHAIN_ID: ${L2_CHAIN_ID}
      CHAIN_SPEC_PATH: /genesis.json
      NETWORK:
      SUBNETWORK: L2 CHAIN ${L2_CHAIN_ID}
      # LOGO: /images/blockscout_logo.svg
      ETHEREUM_JSONRPC_VARIANT: geth
      ETHEREUM_JSONRPC_HTTP_URL: http://op-geth:8545/
      ETHEREUM_JSONRPC_TRACE_URL: http://op-geth:8545/
      DATABASE_URL: postgresql://postgres:@blockscout-postgres:5432/blockscout?ssl=false
      # ETHEREUM_JSONRPC_TRANSPORT: http
      # ETHEREUM_JSONRPC_DISABLE_ARCHIVE_BALANCES: false
      # IPC_PATH:
      NETWORK_PATH: /
      BLOCKSCOUT_HOST:
      BLOCKSCOUT_PROTOCOL:
      ECTO_USE_SSL: false
      PORT: 4000
      SECRET_KEY_BASE: 56NtB48ear7+wMSf0IQuWDAAazhpb31qyc7GiyspBP2vh7t5zlCsF5QDv76chXeN
      # COIN_NAME:
      EMISSION_FORMAT: DEFAULT
      COIN:
      EXCHANGE_RATES_COIN:
      POOL_SIZE: 80
      POOL_SIZE_API: 10
      # HEART_BEAT_TIMEOUT: 30
      RELEASE_LINK:
      BLOCK_TRANSFORMER: base
      # FOOTER_LOGO: /images/blockscout_logo.svg
      FOOTER_LINK_TO_OTHER_EXPLORERS: false
      FOOTER_OTHER_EXPLORERS: '{}'
      SUPPORTED_CHAINS: '{}'
      DISABLE_WEBAPP: false
      API_V1_READ_METHODS_DISABLED: false
      API_V1_WRITE_METHODS_DISABLED: false
      DISABLE_INDEXER: false
      DISABLE_REALTIME_INDEXER: false
      INDEXER_DISABLE_TOKEN_INSTANCE_REALTIME_FETCHER: false
      INDEXER_DISABLE_TOKEN_INSTANCE_RETRY_FETCHER: false
      INDEXER_DISABLE_TOKEN_INSTANCE_SANITIZE_FETCHER: false
      INDEXER_DISABLE_TOKEN_INSTANCE_LEGACY_SANITIZE_FETCHER: false
      INDEXER_DISABLE_PENDING_TRANSACTIONS_FETCHER: false
      INDEXER_DISABLE_INTERNAL_TRANSACTIONS_FETCHER: false
      SHOW_ADDRESS_MARKETCAP_PERCENTAGE: true
      CHECKSUM_ADDRESS_HASHES: true
      CHECKSUM_FUNCTION: eth
      DISABLE_EXCHANGE_RATES: true
      TXS_STATS_ENABLED: true
      SHOW_PRICE_CHART: false
      SHOW_PRICE_CHART_LEGEND: false
      SHOW_TXS_CHART: true
      APPS_MENU: false
      EXTERNAL_APPS: '[]'
      SHOW_MAINTENANCE_ALERT: false
      MAINTENANCE_ALERT_MESSAGE:
      # SOURCIFY_INTEGRATION_ENABLED: false
      # SOURCIFY_SERVER_URL:
      # SOURCIFY_REPO_URL:
      HIDE_BLOCK_MINER: false
      DISPLAY_TOKEN_ICONS: false
      SHOW_TENDERLY_LINK: false
      # TENDERLY_CHAIN_PATH:
      RE_CAPTCHA_SECRET_KEY:
      RE_CAPTCHA_CLIENT_KEY:
      RE_CAPTCHA_V3_SECRET_KEY:
      RE_CAPTCHA_V3_CLIENT_KEY:
      RE_CAPTCHA_DISABLED: false
      # API_RATE_LIMIT_TIME_INTERVAL: 1s
      # API_RATE_LIMIT_BY_IP_TIME_INTERVAL: 5m
      # API_RATE_LIMIT: 50
      # API_RATE_LIMIT_BY_KEY: 50
      # API_RATE_LIMIT_BY_WHITELISTED_IP: 50
      # API_RATE_LIMIT_WHITELISTED_IPS:
      # API_RATE_LIMIT_STATIC_API_KEY:
      # API_RATE_LIMIT_UI_V2_WITH_TOKEN: 5
      # API_RATE_LIMIT_BY_IP: 3000
      # API_RATE_LIMIT_UI_V2_TOKEN_TTL_IN_SECONDS: 18000
      FETCH_REWARDS_WAY: trace_block
      MICROSERVICE_SC_VERIFIER_ENABLED: true
      MICROSERVICE_SC_VERIFIER_URL: http://blockscout-smart-contract-verifier:8050/
      MICROSERVICE_SC_VERIFIER_TYPE: sc_verifier
      MICROSERVICE_VISUALIZE_SOL2UML_ENABLED: true
      MICROSERVICE_VISUALIZE_SOL2UML_URL: http://blockscout-visualizer:8050/
      MICROSERVICE_SIG_PROVIDER_ENABLED: true
      MICROSERVICE_SIG_PROVIDER_URL: http://blockscout-sig-provider:8050/
      DECODE_NOT_A_CONTRACT_CALLS: true
      # ACCOUNT_CLOAK_KEY:
      ACCOUNT_ENABLED: false
      # ACCOUNT_DATABASE_URL: redis://blockscout-redis:6379
      EIP_1559_ELASTICITY_MULTIPLIER: 2
      API_V2_ENABLED: true
    command: sh -c "bin/blockscout eval \"Elixir.Explorer.ReleaseTasks.create_and_migrate()\" && bin/blockscout start"

  blockscout-postgres:
    container_name: blockscout-postgres
    image: postgres:14
    volumes:
      - ./data/blockscout/postgres:/var/lib/postgresql/data/
    environment:
      POSTGRES_PASSWORD:
      POSTGRES_USER: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    command: postgres -c "max_connections=200"

  blockscout-smart-contract-verifier:
    container_name: blockscout-smart-contract-verifier
    image: ghcr.io/blockscout/smart-contract-verifier:latest
    platform: linux/amd64

  blockscout-visualizer:
    container_name: blockscout-visualizer
    image: ghcr.io/blockscout/visualizer:latest
    platform: linux/amd64

  blockscout-sig-provider:
    container_name: blockscout-sig-provider
    image: ghcr.io/blockscout/sig-provider:latest
    platform: linux/amd64
