  blockscout:
    container_name: blockscout
    image: ${BLOCKSCOUT_IMAGE:-blockscout/blockscout}
    depends_on:
      - blockscout-postgres
      - blockscout-redis
      - blockscout-sig-provider
      - blockscout-smart-contract-verifier
      - blockscout-visualizer
      - op-geth
    volumes:
      - ./data/blockscout/logs/:/app/logs/
      - ./data/genesis/genesis.json:/genesis.json:ro
    ports:
      - 4000:4000
    environment:
      CHAIN_ID: ${L2_CHAIN_ID}
      CHAIN_SPEC_PATH: /genesis.json
      SUBNETWORK: L2 CHAIN ${L2_CHAIN_ID}
      ETHEREUM_JSONRPC_VARIANT: geth
      ETHEREUM_JSONRPC_HTTP_URL: http://op-geth:8545/
      ETHEREUM_JSONRPC_TRACE_URL: http://op-geth:8545/
      DATABASE_URL: postgresql://postgres:@blockscout-postgres:5432/blockscout?ssl=false
      ECTO_USE_SSL: false
      PORT: 4000
      SECRET_KEY_BASE: 56NtB48ear7+wMSf0IQuWDAAazhpb31qyc7GiyspBP2vh7t5zlCsF5QDv76chXeN
      MICROSERVICE_VISUALIZE_SOL2UML_URL: http://visualizer:8050/
      MICROSERVICE_SIG_PROVIDER_URL: http://sig-provider:8050/
      MICROSERVICE_SC_VERIFIER_URL: http://smart-contract-verifier:8050/
    command: sh -c "bin/blockscout eval \"Elixir.Explorer.ReleaseTasks.create_and_migrate()\" && bin/blockscout start"

  blockscout-redis:
    container_name: blockscout-redis
    image: redis:alpine
    command: redis-server
    volumes:
      - ./data/blockscout/redis:/data

  blockscout-postgres:
    container_name: blockscout-postgres
    image: postgres:14
    volumes:
      - ./data/blockscout/postgres:/var/lib/postgresql/data/
    environment:
      POSTGRES_PASSWORD:
      POSTGRES_USER: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    command: postgres -c "max_connections=200"

  blockscout-smart-contract-verifier:
    container_name: blockscout-smart-contract-verifier
    image: ghcr.io/blockscout/smart-contract-verifier:latest
    platform: linux/amd64

  blockscout-visualizer:
    container_name: blockscout-visualizer
    image: ghcr.io/blockscout/visualizer:latest
    platform: linux/amd64

  blockscout-sig-provider:
    container_name: blockscout-sig-provider
    image: ghcr.io/blockscout/sig-provider:latest
    platform: linux/amd64
